
p{
font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', serif;
}
a{
	font-family: 'Bree Serif', serif;
}
body{
font-family: 'Raleway', sans-serif;

}
.button {
background-color: transparent;
color:white;
font-family: 'Raleway', sans-serif;
border-radius: 5px;
  border-style: solid;
    border-color:white;
border-width: 2px;
width:100%;
}


button:hover, button:focus, 
.button:hover, .button:focus
{
background-color:transparent !important;
}

#borderbox{
border-radius: 5px;
  border-style: solid;
    border-color:black;
border-width: 2px;

}

.li{
font-family: 'Bree Serif', serif;
}
.top-bar-section ul li > a {
	font-family: 'Raleway', sans-serif;
}
.contain-main {

    background-position: center top; 
    background-repeat: repeat-y repeat-x;
    background-attachment: fixed;
    background-image: url('../images/cloud.jpeg');

}
.container3 {
background-size:cover;
    background-position: center top; 
    background-repeat: repeat-y repeat-x;
    background-attachment: fixed;
    background-image: url('../images/Mountains-of-Mist171.jpg');

}
.top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0px 15px;
    line-height: 45px;
    color: #FFF;
    background: none !important;
}
a  {
    color: #222 ;
    text-decoration: none;
    line-height: inherit;
}
a:hover{

  color:#200;
}
 body {
   
    overflow-x: hidden !important;
}

@font-face {
    font-family: 'socialico'; 
    src: url('../Socialico.otf');
    src: url('../Socialico.ttf') format('truetype'); 
     font-weight: normal;
    font-style: normal;
      }
  
  @font-face{      
         font-family: 'Socialico Plus'; 
      src:      url('../Socialico Plus.ttf') format('truetype');
       src:   url('../Socialico Plus.otf');
    font-weight: normal;
    font-style: normal;
    
}
h6{font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;}

#hello{font-size:1.5em; font-weight:500;}

#moon{height:4em; margin-top:10em;  z-index:3;}

#sun{
font-size:4em; color:yellow;}
#mountains{

font-size:4em; color:white;

}
#creating{font-size:4em; color:white;}

#please{
font-size:3em;
}
.icons{
font-size:120px;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width : 720px) 

 {
#moon{height:2em; margin-top:5em;  z-index:3;}
#mountains{font-size:2.5em;}
#sun{font-size:2.5em;}
#creating{font-size:2.5em;}

#hello{font-size:15px; font-weight:400;}
#please{
font-size:2em;
}
.icons{
font-size:117px;

}
}


